<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
</head>
<body>
<h1>One Month Music App</h1>
<h2> <%= image_tag("brendan.jpg", :alt => "Brendan Bouffard", :size=>'260x260') %> </h2>
<h2>Brendan Bouffard</h2>
<h2>Founder</h2>
<p>Brendan is a former attorney who quit his job to build cool projects and follow his dream of becoming a successful entrepreneur.  Brendan became a full-stack developer at onemonth.com, and is now using his skills to help people accross the world colaborate to create new music. </p>
</body>
</html>