
<div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Contact us!</h1>
            <h2> If you have any questions send us an email at bouffard.brendan.alt@gmail.com</h2>
        </div>
    </div>
